<a href="https://colab.research.google.com/github/amiruak05/Seaborn-Plots/blob/main/bellabeat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **We are using the google Colab python IDE to clean the heartrate_seconds_merged.csv table**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

Createing a data frame df using the uploaded heartrate_seconds_merged.csv file path:

In [24]:
df = pd.read_csv('/content/heartrate_seconds_merged.csv')

getting a sense of the data using: df.head()

In [25]:
df.head()

           Id                  Time  Value
0  2022484408  4/12/2016 7:21:00 AM     97
1  2022484408  4/12/2016 7:21:05 AM    102
2  2022484408  4/12/2016 7:21:10 AM    105
3  2022484408  4/12/2016 7:21:20 AM    103
4  2022484408  4/12/2016 7:21:25 AM    101

Checking the columns datatypes: df.info()

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2483658 entries, 0 to 2483657
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   Id      int64
 1   Time    object
 2   Value   int64
dtypes: int64(2), object(1)
memory usage: 56.8+ MB

We need change the datatype of the second column to datatime:

In [27]:
df['Time'] = pd.to_datetime(df['Time'])

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2483658 entries, 0 to 2483657
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   Id      int64
 1   Time    datetime64[ns]
 2   Value   int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 56.8 MB

Our Time column has changed from object to datetime

Let's sort the rows in order of 
datetime:

In [30]:
df = df.sort_values(['Time'])

In [31]:
df.head()

                 Id                Time  Value
309277   4020332650 2016-04-12 00:00:00     63
1036654  5553957443 2016-04-12 00:00:00     61
309278   4020332650 2016-04-12 00:00:01     64
309279   4020332650 2016-04-12 00:00:03     64
1291828  5577150313 2016-04-12 00:00:05     48

Then we remove nul values from the data frame using:

In [33]:
df.dropna(subset=['Id', 'Time', 'Value'])

                 Id                Time  Value
309277   4020332650 2016-04-12 00:00:00     63
1036654  5553957443 2016-04-12 00:00:00     61
309278   4020332650 2016-04-12 00:00:01     64
309279   4020332650 2016-04-12 00:00:03     64
1291828  5577150313 2016-04-12 00:00:05     48
...             ...                 ...    ...
1036649  4558609924 2016-05-12 16:19:25     73
1036650  4558609924 2016-05-12 16:19:30     72
1036651  4558609924 2016-05-12 16:19:40     76
1036652  4558609924 2016-05-12 16:19:50     81
1036653  4558609924 2016-05-12 16:20:00     76

[2483658 rows x 3 columns]

download the modified data frame as a csv file into my "Cleaned files" folder on my local disk:

In [34]:
from google.colab import files

df.to_csv('heartrate_merged_v2.csv', encoding = 'utf-8-sig') 
files.download('heartrate_merged_v2.csv')